#contact-links {
  display: flex;
  justify-content: center;
}

.contact-link {
  margin: 0 20px;
}

.contact-link__icon {
  vertical-align: middle;
}

.contact-link__text {
  padding: 0 0 0 5px;
}

@media (max-width: 500px) {
  .contact-link__text {
    display: none;
  }
}