#contact-links {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.contact-link {
  margin: 0 20px;
  color: #3F51B5;
}

.contact-link:hover {
  color: #CDDC39;
}

.contact-link:active {
  color: #3F51B5;
}

.contact-link__icon {
  vertical-align: middle;
}

.contact-link__text {
  padding: 0 0 0 5px;
}

@media (max-width: 650px) {
  .contact-link__text {
    display: none;
  }
}